.dao-container {
  height: 100%;
  overflow: auto;
  > .page-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 15px;
  }
  > .page-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    .list-switch {
      display: flex;
      align-items: center;
      > span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;
      }
      > i {
        margin: 0 4px;
      }
      > .switch-active {
        color: #9d5fe9;
      }
    }
  }
  .dao-list-container {
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    overflow: auto;
    .dao-list-item {
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 156px;
      margin-bottom: 20px;
      padding: 10px;
      margin-right: 52px;
      cursor: pointer;
      height: 190px;
      > .dao-img-container {
        width: 136px;
        height: 136px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        > img {
          object-fit: contain;
          width: 100%;
        }
      }

      > p {
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        align-self: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        /* height: 18px; */
        white-space: nowrap;
        /* word-break: break-all; */
        width: 100%;
      }
    }
    .dao-list-item-my {
      border: 1px solid #9d5fe9;
    }
  }
}
